.centered {

	display: flex;
    align-items: center;
    justify-content: center;
}

.centered * {
	padding: 0px 20px;
	top: 0px;
}

.hori-list li { 
	display: inline;
}

.btn {
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: salmon;
	margin-right: 10px;
	border-radius: 5px;
	border: none;

}

.lg.btn {
	padding: 50px 100px;
	font-weight: bold;
	font-size: 200%
}

.md.btn {
	padding: 30px 60px;

}

.sm.btn {
	padding: 10px 20px;
}

nav li{
	display: inline;
}

nav a {
	text-decoration: none;
}
a.btn {
	padding: 10px 30px;
	margin-right: -12px;
}