.centered {

	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.centered * {
	//position: absolute;
	padding: 0px 20px;
	top: 0px;
}

/*.centered {
	position: relative;
	padding: 0 50px;
}

.centered div,p,img,ol {
	display: inline;
	//position: absolute;
	margin: 20px;
}

.centered ol {
	display: inline-block;
}*/

.hori-list li { 
	display: inline;
}

.btn {
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: salmon;
	margin-right: 10px;
	border-radius: 5px;
	border: none;

}

.lg.btn {
	padding: 50px 100px;
	font-weight: bold;
	font-size: 200%
}

.md.btn {
	padding: 30px 60px;

}

.sm.btn {
	padding: 10px 20px;
}

nav li{
	display: inline;
}


nav a.btn {
	text-decoration: none;
	padding: 10px 30px;
	margin-right: -12px;
}

nav a.btn:hover {
	background-color: blue;
}

.paginate {
	height: 30px;
}

.paginate a {
	color: salmon;
	text-decoration: none;
	
	width: 20px;
	padding: 10px;
}

.paginate span {
	color: grey;
	width: 20px;
	padding: 10px;
}

.paginate li {
	display: inline;
	list-style: none;
	border-bottom: medium solid salmon;
}

.paginate li.active {
	border-bottom: medium solid grey;
}

li:first-child, li:last-child {
	border: none;
	color: black;
}

.comment img, .reply img {
	float: left;
	padding-right: 10px;
}

.comment .content {
	overflow: visible;
	height: 80px;

}

.comment, .content {
	margin-top: 10px;
}

.reply {
	margin-left: 80px
}

.reply .content {
	//clear: left;
	height: 60px;

}

.tabs {
	margin-top: 10px
}

.tabs a {
	text-decoration: none;
}

.tabs li, .tabs div{
	list-style: none;
	display: inline;
	margin-right: 15px;
	margin-bottom: 2px;
	padding: 2px 10px 2px 10px;
}

.tabs div {
	border: thin solid blue;
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}

.tabs .active div {
	border-bottom: white solid 4px;
	padding-bottom: 0px

}

.tab-content {
	margin-top: 2px;
	border: blue solid thin;
	border-radius: 5px;
	padding: 10px;
}